body {
    background-color: rgba(227, 170, 238, 0.925);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
* .bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  

p {
    color: black;
}

h2 {
    color: rgb(0, 0, 0);
}

img {
    width: 200px;
    height: 370px;
}

table {
     border-collapse: collapse;
}

th {
    background-color: #c06ae2e0;
}

th,
td {
    border: 1px solid #9906b6;
    text-align:left;
    padding: 8px;
}